<div class="row">
	{{!-- changed from text-right --}}
	<div class="col text-center">
		<a href="/" class="btn btn-primary">New Post</a>
	</div>
</div>
{{!-- changed from div --}}
<ul class="row" id="blogPosts"></ul>